# This is a basic workflow to help you get started with Actions

name: Covid19-Tracker Project

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # node-version: [10.x, 12.x, 14.x, 15.x]
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Installing Node Modules
      run: npm install

    - name: Create project build
      run: npm run build

    - name: Installing Surge
      run: npm install --global surge

    - name: Delopying using surge
      run: surge ./build http://covid19-tracker-hkbenvision.surge.sh --token ${{ secrets.SURGE_EXPENSES_TRACKER_PROJECT_TOKEN }}
 
